apiVersion: v1
kind: ConfigMap
metadata:
  name: mongo-init-script
  namespace: default
data:
  init-replica.sh: |
    #!/bin/bash
    (
    set -e
    POD_NAME=$(hostname)
    echo "Current pod: $POD_NAME"

    if [ "$POD_NAME" != "mongo-0" ]; then
      echo "Not the first pod. Skipping rs.initiate..."
      exit 0
    fi

    until mongosh --host mongo-0.mongo:27017 --eval "db.adminCommand('ping')" >/dev/null 2>&1; do
      echo "Waiting for mongo-0..."
      sleep 2
    done

    echo "Initializing replica set on $POD_NAME..."
    mongosh --host mongo-0.mongo:27017 <<EOF
    rs.initiate({
     _id: "rs0",
     members: [
    { _id: 0, host: "mongo-0.mongo:27017" }
     ]
    })
    EOF

    until mongosh --host mongo-0.mongo:27017 --eval "rs.isMaster().ismaster" | grep "true"; do
      echo "Waiting for $POD_NAME to become PRIMARY..."
      sleep 2
    done

    echo "Adding mongo-1 and mongo-2 to replica set..."
    mongosh --host mongo-0.mongo:27017 <<EOF
    rs.add("mongo-1.mongo:27017")
    rs.add("mongo-2.mongo:27017")
    EOF

    echo "Replica set initialized with mongo-0 as PRIMARY."
    )&
